.comment {
    max-height: 45vh;
    overflow-y: scroll;
}
/* scroll bar if num of comments exceed within post */
.comment::-webkit-scrollbar{
    display: none;
}
.commonInput{
    border: none;
    outline: none;
    padding: 5px;
    /* width: 100%; */
}