.progress-bar-container{
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius:4px ;
    overflow: hidden;
    opacity: .5;
    transition: opacity .3 ease-out;
    margin: 1rem;
}
.active{
    opacity: 1;
}
.progress-bar{
    height: 100%;
    background-color: rgb(54, 113, 207);
    border-radius: 4px;

}